@model DataObject.User
@{

}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo hồ sơ gia sư</title>
    <link href="~/css/tutorCreate.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <h2>Cập nhập thông tin</h2>
        <form asp-action="Create" method="post">
            <!-- Personal Information -->
            <label for="name">Họ và tên:</label>
            <input asp-for="UserName" type="text" id="name" name="name" value="@Model.UserName" required>

            <label for="cmnd">CMND (không bắt buộc):</label>
            <input asp-for="CitizenId" type="text" id="cmnd" name="cmnd" value="@Model.CitizenId">

            <div class="gender full-width">
                <label>Giới tính:</label>
                <input asp-for="Gender" type="radio" id="male" name="gender" value="Male" checked>
                <label for="male">Nam</label>
                <input asp-for="Gender" type="radio" id="female" name="gender" value="Female">
                <label for="female">Nữ</label>
                <input asp-for="Gender" type="radio" id="other" name="gender" value="Other">
                <label for="other">Khác</label>
            </div>

            <label for="phone">Số điện thoại:</label>
            <input asp-for="PhoneNumber" type="text" id="phone" name="phone" required>

            <label for="phone2">Số điện thoại 2:</label>
            <input asp-for="PhoneNumber2" type="text" id="phone2" name="phone2">
            @* <label for="facebook">Địa chỉ Facebook:</label>
            <input type="url" id="facebook" name="facebook" placeholder="VD: https://www.facebook.com/giasubaochautq"> *@

            <label for="dob">Ngày sinh:</label>
            <input asp-for="DateOfBirth" type="date" id="dob" name="dob">

            <label for="city">Quê quán:</label>
            <select id="city" name="city">
                <option value="">-- Tỉnh/Thành Phố --</option>
                <!-- Add locations -->
                @foreach (var location in ViewBag.Locations)
                {
                    <option value="@location.Value">@location.Text</option>
                }
            </select>

            <!-- Email -->
            <label for="address">Địa chỉ email:</label>
            <input asp-for="Email" type="text" id="address" name="address" value="@Model.Email" required>

            @* <label for="street">Đường/Phố:</label>
            <input type="text" id="street" name="street">

            <label for="ward">Phường/Xã:</label>
            <input type="text" id="ward" name="ward"> *@

            <!-- Place Of Work Information -->
            <label for="placeofwork">Đơn vị học tập/công tác:</label>
            <select asp-for="PlaceOfWork" id="placeofwork" name="school">
                <option value="">-- Trường --</option>
            </select>
            <!-- Submission -->
            <button type="submit">Cập nhập</button>
        </form>
        <p class="note">Lưu ý: Để tránh kê khai sử dụng sai mục đích, không upload CMND, thẻ SV lên nhé.</p>
    </div>
</body>
</html>
